/*-----------Home/index.html-------------*/
*{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans MT', Arial;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color:#fff;

}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/IMG_0973.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 300px;
}

nav.sticky{
    background-image: linear-gradient(rgba(191,215,65,0.75), rgba(191,215,65,0.75));
    position: fixed;
    width: 100%;
    z-index: 3;
    top: 0;
    right: 0;
    border-radius: 0 0 6px 6px;
    padding: 10px 8%;
    display: flex;
    justify-content: space-between;
    transition: padding 1s;
}
nav.sticky ul{
    width: auto;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: "";
    width: 0;
    height: 3px;
    background: #bfd741;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text p span{
    color: #bfd741;
}

/*--------------Vår Klinikk/Bedrift----------*/
#bedrift{
    padding: 50px 0;
    color: #ababab;
}
#vår-klinikk{
    padding: 50px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}

.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}

.sub-title_white{
    font-size: 60px;
    font-weight: 600;
    color:#fff;
}

.tab-titles{
    display:flex;
    margin: 20px 0 40px;
    hyphens: manual;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: "";
    width: 0;
    height: 3px;
    background: #bfd741;
    position:absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 100%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #fcfcfc;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display:block;
}

/* ----------Våre ulike behandlingsmetoder---------- */
#services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 15px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #bfd741;
    transform: translateY(-10px);
}
/* ---------Work-list--------- */
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
    margin-top: 50px;
    margin: 10px 10px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    padding: 10px 5%;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
#work .btn{
    border: #bfd741 solid 1px;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.5), #bfd741);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
    color: #fff;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 15px;
    color:#bfd741;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    padding: 14px 50px;
    border-radius: 30px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: #bfd741;
}

/* -------Kontakt---------- */
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left a{
    text-decoration: none;
    color: inherit;
}
.contact-left a i{
    color: #bfd741;
    margin-right: 25px;
    font-size: 25px;
    margin-top: 30px;
}
.contact-left p{
    margin-top: 30px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
label {
    font-size: 16px;
    font-family: Arial, sans-serif;
  }
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #bfd741;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #bfd741;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
.copyright i{
    color: #bfd741;
}
nav .fas{
    display: none;
}
iframe{
    width: 80%;
    height: 500px;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
}
/* <----------Testimonial--------------> */
.testimonial{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    margin-top: 20px;
}
.testimonial-text{
    background: #ff0058;
    color: #fff;
    width: 100%;
    height: 350px;
    position: relative;
    box-shadow: 0 15px 20px rgba(0,0,0,0.2);
    border-radius: 10px;
    margin: 0 auto;
}
.user-text{
    width: 80%;
    text-align: center;
    line-height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
}
.user-text .fa-solid{
    font-size: 30px;
    margin-bottom: 50px;
    margin-top: 45px;
}
.user-text span{
    display: block;
    font-size: 13px;
    margin-top: 70px;
    font-weight: 500;
    text-transform: uppercase;
}
.testimonial-pic{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-pic{
    width: 65px;
    padding: 5px;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
    margin: auto;
}
.user-text.active-text{
    display: block;
    animation: moveup 0.5s linear forwards;
}
.user-pic.active-pic{
    width: 100px;
    border: 3px solid #ff0058;
}
@keyframes moveup{
    0%{
        margin-top: 25px;
    }
    100%{
        margin-top: 0px;
    }
}
/* ---------------css for small screen----------- */

@media only screen and (max-width: 820px){
    #header{
        background-image: url(images/IMG_0973_phone-background.png);
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
        padding-left: 10px;
    }
    nav ul{
        background: #bfd741;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title_white{
        font-size: 40px;
        hyphens: manual;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }
    .maps{
        text-align: center;
        padding-top: none;
        cursor: pointer;
    }
    .testimonial-text{
        height: 400px;
    }
}
#msg{
    color: #61b752;
    margin-top: -50px;
}

/*--------------Naprapati/naprapati.html---------------*/

/*--------------Naprapati-banner------------ */

.video-container{
    position: relative;
}

#backVideo{
    width: 100%;
    height: 100vh;
    object-fit:cover;
}
.sidebar{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background-image: linear-gradient(rgba(191,215,65,0.75), rgba(7,0,60,0.85));
    width: 30%;
    height: 100%;
    padding: 10px 60px;
}
.sidebar div h1{
    margin-top: 10px;
    font-size:calc(7px + 1.5vw);
}
.sidebar div h3{
    font-weight: 500;
}
.sidebar div p{
    font-size:calc(1px + 0.9vw);
    margin-top: 20px;
}
.sidebar .btn{
    background: #fff;
    color: #080808;
    margin: 20px 0;
    cursor: pointer;
    transition: transform 0.5s;
    font-size: 14px;
}
#btnicon{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translateY(-50%);
    width: 100px;
    cursor: pointer;
}

@media only screen and (min-width: 821px){
    .naprapati-banner_mobile_layout{
        display: none;
    }
}


@media only screen and (max-width: 820px){
    #backVideo{
        height: auto;
        width: 100%;
    }
    .sidebar{
        display: none;
    }
    #btnicon{
        display: none;
    }
    .naprapati-banner_mobile_layout{
        background: #bfd741;
        padding: 20px 0px;
    }
    .naprapati-banner_mobile_layout h1{
        padding-bottom: 10px;
    }
    .naprapati-banner_mobile_layout p{
        padding-bottom: 30px;
    }

}
/* ------------------------------------- */

/*--------Plager----------*/

#plager{
    background: #080808;
    width: 100%;
}

.issues-list ul{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: center;
    padding: 20px 5%;
    list-style-type: '-';
    font-size: 25px;
}
.issues-list ul li{
    margin-bottom: 10px;
}
.issues-list ul li a{
    color: #fff;
    text-decoration: none;
    margin: 18px;
    font-size: 24px;
    font-weight: 300;
    position: relative;
}
.issues-list a:visited{
    color: #fff;
}
.issues-list ul li a::after{
    content: "";
    width: 0;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
.issues-list ul li a:hover::after{
    width: 100%;

}
@media only screen and (max-width: 820px){
    #plager{
        display: none;
    }
}
/* --------------------------------- */

/*----------Enkel og trygg behandling----------*/

.container-wide{
    padding: 80px 10%;
    text-align: center;
    width: 800px;
    margin: 0 auto;
}
#trygg-behandling{
    background: #fff;
    width: 100%;
}
.sub-title_black{
    margin-bottom: 70px;
    font-size: 40px;
    color: #080808;
}
.sub-title_black u{
    text-underline-offset: 15px;
}
.container-wide div{
    font-size: 20px;
    color: #080808;
}
@media only screen and (max-width: 820px){
    .container-wide{
        padding: 35px;
        width: auto;
    }
}
/* ------------------------------------------- */

/*------------Videokonsultasjon-------------*/

#videokonsultasjon{
    background: #bfd741;
    width: 100%;
    display: flex;
    padding: 80px 10%;
}
.container-wide-img div{
    flex: 1;
    margin: 0 10px;
    float: left;
    width: 50%;
}
.container-wide-img img{
    float: right;
    max-width: 40%;
    height: auto;
}
.container-wide-img h2{
    padding-bottom: 10px;
}
.container-wide-img h3{
    padding-bottom: 20px;
}
.container-wide-img p{
    padding-bottom: 20px;
}
.container-wide-img a{
    color: #fff;
    text-decoration: none;
    position: relative;
}
@media only screen and (max-width: 820px){
    .container-wide-img img{
        float: right;
        width: 100%;
        flex: none;
    }
    .container-wide-img h1{
        font-size: 35px;
        padding-top: 20px;
    }
    #videokonsultasjon{
        padding: 20px;
    }
    .container-wide-img div{
        width: 100%;
    }
}
/* <----------------------------------------------> */

/*--------------Priser/Priser.html--------------- */
#priser{
    padding: 100px 0;
}

.ribbon-wrap{
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
    top: -40px;
    left: -50px;
    margin-bottom: -83%;
}
.ribbon-wrap::before, .ribbon-wrap::after{
    content: '';
    width: 10px;
    height: 10px;
    background: #f2467b;
    position: absolute;
    z-index: -1;
}
.ribbon-wrap::before{
    top: 0;
    right: 0;
}
.ribbon-wrap::after{
    bottom: 0;
    left: 0;
}
.ribbon{
    width: 225px;
    font-size: 15px;
    text-align: center;
    padding: 8px 0;
    background: #ff2166;
    color: #fff;
    position: absolute;
    transform: rotate(-45deg);
    right: -17%;
    top: 29%;
}

#priser h1{
    text-align: center;
    font-size: 60px;
    padding-bottom: 40px;
}

.price-row{
    width: 90%;
    max-width: 1400px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 25px;
}
.price-col{
    background: #1f283b;
    padding: 10% 15%;
    border-radius: 10px;
    color: #fff;
    text-align: center;
}
.price-col p{
    font-size: 22px;
    margin-top: 25px;
}
.price-col h3{
    font-size: 44px;
    margin: 20px 0 40px;
    font-weight: 500;
}
.price-col h3 span{
    font-size: 16px;
}
.price-col ul{
    text-align: left;
    margin: 20px 0;
    color: #ddd;
    list-style: none;
}
.price-col ul li{
    margin: 15px 0;
}
.price-col ul li::before{
    content: '\2022';
    color: #e33058;
    font-weight: bold;
    margin-right: 8px;
}
.price-col .btn{
    border: 1px solid #e33058;
}
.price-col .btn:hover{
    background: #e33058;
}

@media only screen and (max-width: 820px){
    #priser h1{
        font-size: 40px;
    }
}

/*----------Project One/Kontakt.html-------------*/
.opening-hours .btn{
    background: #fff;
    color: #080808;
    margin: 30px 0;
    cursor: pointer;
    transition: transform 0.5s;
    font-size: 16px;
}
.opening-hours .btn:hover{
    transform: translateY(-5px);
    transition: 0.5s;
}
.popup{
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: fixed;
    top: calc(50% - -50px);
    left: calc(50% - 0px);
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #080808;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    z-index: 3;
}
.open-popup{
    visibility: visible;
    transform: translate(-50%,-50%) scale(1);
}
.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 20%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}
.popup p{
    margin: 15px;
}
.popup .btn{
    width: 100%;
    margin: 50px 0 0 0;
    padding: 10px 0;
    background: #bfd741;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.popup .btn:hover{
    transform: none;
    transition: none;
}
@media only screen and (max-width: 820px){
    .popup{
        width: 80%;
    }
}